.box {
  width: 5rem;
  height: 5rem;
  border: 0.066rem solid black;
  box-shadow: 0 0 0 0.1rem;
  line-height: 5rem;
  font-size: 4.5rem;
  cursor: pointer;
}
.gameContainer {
  font-family: cursive, fantasy;
  text-align: center;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 5rem;
  margin: auto;
}
